@model IEnumerable<Factura>

<h1>Facturas</h1>
<p>

<a class="btn btn-success" asp-area="" asp-controller="Clientes"
   asp-action="Index">Crear Factura</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id </th>
            <th>Id cliente</th>
            <th>Numero de Factura</th>
            <th>Fecha de Emision</th>
            <th>TotalFactura</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var factura in Model)
        {
            <tr>
               <td>@factura.Id</td>
               <td>@factura.idCliente</td>
               <td>@factura.numerofactura</td>
               <td>@factura.fechaemisionfactura</td>
               <td>@factura.numerofactura</td>
            </tr>
        }
    </tbody>
</table>