@model IEnumerable<Clientes>
@{
    decimal totalfactura = ViewBag.totalfactura;
    decimal impuesto = ViewBag.impuesto;
    decimal subtotal = ViewBag.subtotal;
}





<h1>Facturas</h1>
<button id="nuevafactura" class="btn btn-success">Nuea Facrtura</button>

<form asp-action="Crear" id="formulariofactura" method="post">
    <p>
</p>
<div>

    <table class="table">
        <thead>
            <tr>
                <th>Cliente </th>
                <th>Numero de Factura</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                        <select id="selectClientes" name="selectClientes">

                        @foreach (var cliente in Model)
                        {
                            <option value="@cliente.Id">@cliente.rfc</option>
                        }
                    </select>
            </td>
                <td>
                        <input type="text" placeholder="Numero" name="numerofactura" id="numerofactura" value="0">
                </td>
            </tr>

        </tbody>
    </table>
</div>
<a asp-action="Index" class="btn btn-info">Agregar producto</a>
<table class="table">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Precio Unitario</th>
            <th>Cantidad</th>
            <th>Imagen</th>
            <th>totales</th>
        </tr>
    </thead>
    <tr>
        <th>
                <select id="selectproducto1" name="selectproducto1">
                @foreach (var productos in ViewBag.productos)
                {
                    <option value="@productos.Id">@productos.nombreproducto</option>
                }
            </select>

        </th>

            <th>
                $
            @if (ViewBag.productos.Count > 0)
            {
                    <label id="preciounitario">@ViewBag.productos[0].preciounitario</label>
            }
            else
            {
                <label>No hay imágenes disponibles</label>
            }
        </th>
        <th>
                <select id="selectCantidadProducto1">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </th>
        <th>
            <img src="@ViewBag.productos[0].imagenproducto" alt="IMAGES" />


        </th>
        <th>
                $<label id="SubtotalProducto1"></label>
        </th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>Sub Total</th>
        <th>
                $ <label id="SubtotalProductos">@subtotal</label>
        </th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>Impuesto (19%)</th>
        <th>
                $<label id="impuesto">@impuesto</label>
        </th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>Total</th>
        <th>
                $<label id="totalfactura">@totalfactura</label>
        </th>
    </tr>
        <input type="hidden" name="idcliente" id="idcliente" />
        <input type="hidden" name="nfactura" id="nfactura" />
        <input type="hidden" name="ntotalproductos" id="ntotalproductos" />
        <input type="hidden" name="subtotalfactura" id="subtotalfactura" />
        <input type="hidden" name="totalimpuestos" id="totalimpuestos" />
        <input type="hidden" name="itotalfactura" id="itotalfactura" />


</table>
    <button type="button" id="enviarDatos" class="btn btn-primary">Guardar</button>
</form>
<br />
<div id="mensajeError"></div>

<script>
    document.getElementById("enviarDatos").onclick = function () {
        // Obtiene el valor del campo de entrada
        var nf= document.getElementById("numerofactura");
        var numerofactura = parseFloat(nf.value);

        // Verifica si el campo está vacío
        if (numerofactura < 1 || numerofactura === "" || isNaN(numerofactura)) {

            event.preventDefault();

            // Muestra un mensaje de error
            document.getElementById("mensajeError").textContent = "El campo Numero de Factura, no puede estar vacío.";
            document.getElementById("mensajeError").className = "btn btn-danger";
            // Cancela el envío del formulario


        }else{

            var totalfactura = document.getElementById("totalfactura");

            var Total = parseFloat(totalfactura.textContent);

            if (Total === 0) {
                document.getElementById("mensajeError").textContent = "El campo Total Factura, no puede estar en Cero.";
                document.getElementById("mensajeError").className = "btn btn-danger";
                event.preventDefault();

            } else {
                // Obtén los valores numéricos de los labels
                var selectClientes = parseFloat(document.getElementById("selectClientes").value);

                // Asigna los valores a campos ocultos en el formulario
                document.getElementById("idcliente").value = selectClientes;
                document.getElementById("nfactura").value = numerofactura;
                document.getElementById("ntotalproductos").value = document.getElementById("selectCantidadProducto1").value;
                // Envía el formulario
                document.getElementById("formulariofactura").submit();
            }
        }
        
    };


    document.getElementById("nuevafactura").onclick = function () {
        document.getElementById("numerofactura").value = '';
    };
 
    var selectClientes = document.getElementById("selectClientes");

    selectClientes.addEventListener("change", function () {
        var selectedValue = selectClientes.value;
        });

    var selectproducto1 = document.getElementById("selectproducto1");

    selectproducto1.addEventListener("change", function () {
        var selectedValue = selectproducto1.value;
    });

    var selectCantidadProducto1 = document.getElementById("selectCantidadProducto1");


    selectCantidadProducto1.addEventListener("change", function () {
        var selectedCantidadProducto1 = selectCantidadProducto1.value;

        var preciounitarioproducto1 = document.getElementById("preciounitario");
        var Numeropreciounitarioproducto1 = parseFloat(preciounitarioproducto1.textContent);

        document.getElementById("SubtotalProducto1").textContent = selectedCantidadProducto1 * Numeropreciounitarioproducto1;

        document.getElementById("SubtotalProductos").textContent = selectedCantidadProducto1 * Numeropreciounitarioproducto1;

        document.getElementById("subtotalfactura").value = selectedCantidadProducto1 * Numeropreciounitarioproducto1;

        document.getElementById("impuesto").textContent = ((selectedCantidadProducto1 * Numeropreciounitarioproducto1) * 19) / 100;

        document.getElementById("totalimpuestos").vale = ((selectedCantidadProducto1 * Numeropreciounitarioproducto1) * 19) / 100;

        document.getElementById("totalfactura").textContent = selectedCantidadProducto1 * Numeropreciounitarioproducto1 + ((selectedCantidadProducto1 * Numeropreciounitarioproducto1) * 19) / 100;

        document.getElementById("itotalfactura").value = selectedCantidadProducto1 * Numeropreciounitarioproducto1 + ((selectedCantidadProducto1 * Numeropreciounitarioproducto1) * 19) / 100;


    });
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
